# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/plenty_29_06_2022/v17/Browse.VC.db-shm
.vs/plenty_29_06_2022/v17/Browse.VC.db-wal
.vs/plenty_29_06_2022/v17/Browse.VC.opendb
